<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShowDoMilhao.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D0C58ED23628F2D000C2FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0C590323628F31000C2FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0C590E23628F31000C2FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
